#contact h2 {
    padding-top: 5rem;
  }

.container.contact__container {
    padding-top: 5rem;
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
}

.contact__mail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
}

.mailsent__box {
    left: 0px;
    right: 0px;
    top: 0px;
    position: fixed;
    text-align: center;
    background: rgb(0, 0, 0, 0.7);
    font-size: 70px;
}

.mail {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

.mail:hover {
    background: var(--color-bg2);
    border-color: var(black);
}

.mail__icon {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.mail a {
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.9rem;
}

.contact__form {
    border: 5px solid rgb(0, 0, 0, 0.1);
    border-radius: 10px;
    background: rgb(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 10px;
}

.contact__form div {
    display: flex;
    justify-content: space-between;
}

.contact__form button {
    width: max-content;
    display: inline-block;
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    color: var(black);

    background: linear-gradient(to right, rgb(18, 0, 119) 50%, var(--color-primary) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .3s ease-out;
}

.contact__form button:hover {
    background-position: left bottom;
    color: white;
}

.contact__form button:active {
    transition: all 0s ease-out;
    background: rgb(0, 0, 0, 0.4);
    color: white;
}

input, textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary-variant2);
    resize: none;
    color: var(--color-white)
}

.form__name {
    width: 49%;
}

/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {

    .container.contact__container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

 }
     
 /* MEDIA QUERIES (SMALL DEVICES) */
 @media screen and (max-width: 600px) {
    
    .container.contact__container {
        width: var(--container-width-sm)
    }
     }
 
